@import url('https://fonts.googleapis.com/css?family=Montserrat');

html{
    margin: 0px !important;
    padding: 0 !important; 
}

body{
    font-family: 'Montserrat' !important;
    font-size: 14px;
    background-color: #fff!important;
    margin: 0px !important;
    padding: 0 !important;
    overflow-x: hidden;
    overflow-y: hidden;
}

.col-2{
    zoom: 130%;
}

.DiasLateral{
    width: 78px;
    height: auto;
    right: 0px;
    text-align: right;
    position: absolute;
}

.NumeroDias{
    width: 100%;
    height: 81px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 6px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    transition: width 0.5s;
    cursor: pointer;
    float: right;    
    z-index: 10;
}

.NomeMes{
    z-index: 1;
    opacity: 0;
    font-size: 24px;
    font-weight: bold;
}

.NumeroDias > .active{
    transition: width 0.6s, opacity 2s;
    opacity: 1;
    color: rgb(249,249,249);
}

.NomeDia{
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    font-size: 12px;
    position: absolute;
    margin-top: 27px;
    margin-left: -80px;
}

.DiasLateral > .active{
    width: 130px;
    background-color: #ff0000;
    color: rgb(249,249,249);
    transition: width 0.6s, opacity 2s;
}

.TopProcesso{
    background-color: transparent;
    border-radius: 6px;
    max-height: 700px;
    margin-bottom: 6px;
}

.TituloProcesso{
    font-size: 32px;
}

.card{
    width: 530px;
    background-color: #f9f9f9 !important;
    border: none !important;
}

#cardFotoSales{
    background-color: transparent;
    width: 75px;
    height: 75px;
    right: 10px;
    top: 0px;
    position: absolute;
    border-radius: 0.25rem;
}

#cardFotoInside{
    background-color: transparent;
    width: 75px;
    height: 75px;
    right: 10px;
    bottom: 0px;
    position: absolute;
    border-radius: 0.25rem;
}

.FotoSales{
    width: 75px;
    height: 75px;
    border-radius: 0.25rem;
    position: absolute;
    left: 90px;
}

.progress-bar{
    background-color: #ff0000 !important;
    border-radius: 10px !important;
    font-weight: bold !important;
    font-size: 16px;
}

.progress{
    position: relative;
    height: 2rem !important;
    width: 351px !important;
    right: -242px !important;
    border-radius: 10px !important;
}

.graficos{
    margin-bottom: 75px;
}

#MetaMensal1{
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    top: 240px;
    left: 495px;
}

#MetaMensal2{
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    top: 493px;
    left: 495px;
}

#MetaMensal3{
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    top: 746px;
    left: 495px;
}

.iconsProcesso{
    width: 53px;
    height: 53px;
    position: absolute;
    top: 74px;
    left: 302px;
}

#IconeModal1{
    width: 55px;
    height: 55px;
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    top: -92px;
    left: 11px;
}

#IconeModal2{
    width: 55px;
    height: 55px;
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    top: -96px;
    left: 12px;
}

#IconeModal3{
    width: 55px;
    height: 55px;
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    top: -96px;
    left: 12px;
}

#ModalMeta1{
    width: 24px;
    height:24px;
    position: absolute;
    font-weight: bold;
    /* font-size: 24px; */
    top: -43px;
    left: 24px;
    color: #383839;
}

#ModalMeta2{
    width: 24px;
    height:24px;
    position: absolute;
    font-weight: bold;
    /* font-size: 24px; */
    top: -46px;
    left: 21px;
    color: #383839;
}

#ModalMeta3{
    width: 24px;
    height:24px;
    position: absolute;
    font-weight: bold;
    /* font-size: 24px; */
    top: -44px;
    left: 24px;
    color: #383839;
}