#canvas{
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    background-color: #00000000 !important;
    z-index: 4;
    margin: 0;
    overflow:hidden;
    transform: scale(1.5);
    transition: all 2s !important;
}