/* @import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Inter');

html{
    margin: 0px !important;
    padding: 0px !important; 
} */

body{
    font-family: 'Montserrat' !important;
    font-size: 14px;
    background-color: #fff!important;
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: hidden;
    overflow-y: hidden;
}
.dashboard_mensal{
  margin-top: 99px;
}
.dashboard_mensal svg{
  margin-bottom: 30px !important;
  width: 250px !important;
}

.dashboard_mensal  .row{
   margin-left: 150px !important;
   margin-top: 8px !important;
   margin-right: auto !important;
   margin-left: 337px !important;
}

.dashboard_mensal  .colunaIA{
    /* background-color: #fff; */
    border-radius: 6px;
    width: 300px !important;
    height: 100%;
    text-align: center !important;
    margin-right: 40px;
}

.dashboard_mensal  .colunaIM{
    /* background-color: #fff; */
    border-radius: 6px;
    width: 300px !important;
    height: 100%;
    text-align: center !important;
    margin-right: 40px;
}

.dashboard_mensal .colunaEA{
    /* background-color: #fff; */
    border-radius: 6px;
    width: 300px !important;
    height: 100%;
    text-align: center !important;
    margin-right: 40px;
}

.dashboard_mensal  .colunaEM{
    /* background-color: #fff; */
    border-radius: 6px;
    width: 300px !important;
    height: 100%;
    text-align: center !important;
    margin-right: 40px;
}

.dashboard_mensal .h1Modal{
  font-size: 26px;
}

.dashboard_mensal  .h1.porcentagem{
  position: absolute !important;
  left: 46% !important;
  top: 40% !important;
}

.dashboard_mensal  .iconsProcesso{
  width: 30px;
  height: 30px;
  position: absolute;
  left: 47%;
  top: 59%;
}

.dashboard_mensal .progress{
  margin-top: 3%;
  margin-left: 0px !important;
  height: 35px !important;
  width: 180px;
  border-radius: 12px !important;
  background-color: rgba(0, 0, 0, 0.123) !important;
}

.dashboard_mensal  .progress-bar.esquerda{
  border-radius: 12px !important;
  background-color: #ff0000 !important;
}

.dashboard_mensal  .progress-bar.direita{
  border-radius: 12px !important;
  background-color: #36cd72 !important;
}

.dashboard_mensal  .progress-bar{
  font-size: 22px;
  font-weight: bold;
}

.dashboard_mensal .col-4{
  width: 50px !important;
}

.dashboard_mensal  .MetaEscrito{
  margin-top: -34px;
  position: absolute;
  margin-left: 66px;
  font-size: 24px;
  font-weight: bold;
}

.dashboard_mensal  .MesAno{
  margin-top: 5px;
  position: absolute;
  margin-left: -198px;
  font-size: 20px;
  font-weight: bold;
}

.dashboard_mensal  .fundoCinza{
  background-color: #8888881f;
  margin: 0px;
  border-radius: 6px;

    width: 1383px;
    left: 13%;
    z-index: -1;
    height: 38px;
    position: absolute;
}